[submodule "proto/data-plane-api"]
	path = proto/data-plane-api
	url = https://github.com/envoyproxy/data-plane-api.git
[submodule "proto/udpa"]
	path = proto/udpa
	url = https://github.com/cncf/udpa.git
[submodule "proto/protoc-gen-validate"]
	path = proto/protoc-gen-validate
	url = https://github.com/envoyproxy/protoc-gen-validate.git
[submodule "proto/googleapis"]
	path = proto/googleapis
	url = https://github.com/googleapis/googleapis.git
