#
# Copyright 2020 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

[workspace]
members = [".", "./macros", "./agones"]

[workspace.dependencies]
kube = { version = "0.84.0", features = [
    "derive",
    "runtime",
    "rustls-tls",
    "client",
], default-features = false }
k8s-openapi = { version = "0.18.0", features = ["v1_25", "schemars"] }
tokio = { version = "1.32.0", features = [
    "rt-multi-thread",
    "fs",
    "signal",
    "test-util",
    "parking_lot",
    "tracing",
] }
base64 = "0.21.0"
tracing = "0.1.37"
futures = "0.3.28"

[package]
name = "quilkin"
version = "0.8.0-dev"
authors = [
    "Mark Mandel <markmandel@google.com>",
    "Ifeanyi Ubah <ifeanyi.ubah@embark-studios.com>",
    "Erin Power <erin.power@embark-studios.com>",
]
license = "Apache-2.0"
description = "Quilkin is a non-transparent UDP proxy specifically designed for use with large scale multiplayer dedicated game server deployments, to ensure security, access control, telemetry data, metrics and more."
homepage = "https://github.com/googleforgames/quilkin"
repository = "https://github.com/googleforgames/quilkin"
readme = "README.md"
keywords = [
    "proxy",
    "game-server",
    "game-development",
    "networking",
    "multiplayer",
]
categories = ["game-development", "network-programming"]
edition = "2021"
exclude = ["docs", "build", "examples", "image"]

[[bench]]
name = "throughput"
harness = false
test = true

[dependencies]
# Local
quilkin-macros = { version = "0.8.0-dev", path = "./macros" }

# Crates.io
arc-swap = { version = "1.6.0", features = ["serde"] }
async-stream = "0.3.5"
base64.workspace = true
base64-serde = "0.7.0"
bytes = { version = "1.5.0", features = ["serde"] }
cached = "0.46.0"
chrono = "0.4.31"
clap = { version = "4.4.6", features = ["cargo", "derive", "env"] }
dashmap = { version = "5.5.3", features = ["serde"] }
either = "1.9.0"
enum-map = "2.6.3"
eyre = "0.6.8"
futures.workspace = true
hyper = { version = "0.14.27", features = ["http2"] }
hyper-rustls = { version = "0.24.1", features = ["http2", "webpki-roots"] }
ipnetwork = "0.20.0"
k8s-openapi.workspace = true
maxminddb = "0.23.0"
notify = "6.1.1"
num_cpus = "1.16.0"
once_cell = "1.18.0"
parking_lot = "0.12.1"
prometheus = { version = "0.13.3", default-features = false }
prost = "0.12.1"
prost-types = "0.12.1"
rand = "0.8.5"
regex = "1.9.6"
schemars = { version = "0.8.15", features = ["chrono", "bytes", "url"] }
serde = { version = "1.0.188", features = ["derive", "rc"] }
serde_json = "1.0.107"
serde_regex = "1.1.0"
serde_stacker = "0.1.10"
serde_yaml = "0.9.25"
snap = "1.1.0"
socket2 = { version = "0.5.4", features = ["all"] }
stable-eyre = "0.2.2"
thiserror = "1.0.49"
tokio.workspace = true
tokio-stream = { version = "0.1.14", features = ["sync"] }
tonic = "0.10.2"
tracing.workspace = true
tracing-futures = { version = "0.2.5", features = ["futures-03"] }
tracing-subscriber = { version = "0.3.17", features = ["json", "env-filter"] }
tryhard = "0.5.1"
url = { version = "2.4.1", features = ["serde"] }
uuid = { version = "1.4.1", default-features = false, features = ["v4"] }
lasso = { version = "0.7.2", features = ["multi-threaded"] }
kube.workspace = true
trust-dns-resolver = { version = "0.23.0", features = [
    "tokio",
    "tokio-rustls",
    "dns-over-https-rustls",
] }
async-trait = "0.1.73"
nom = "7.1.3"
strum = "0.25.0"
strum_macros = "0.25.2"

[target.'cfg(target_os = "linux")'.dependencies]
sys-info = "0.9.1"

[dev-dependencies]
regex = "1.9.6"
criterion = { version = "0.5.1", features = ["html_reports"] }
once_cell = "1.18.0"
tracing-test = "0.2.4"
pretty_assertions = "1.4.0"
tempfile = "3.8.0"
rand = "0.8.5"

[build-dependencies]
tonic-build = { version = "0.10.2", default_features = false, features = [
    "transport",
    "prost",
] }
prost-build = "0.12.1"
built = { version = "0.7.0", features = ["git2"] }
protobuf-src = { version = "1.1.0", optional = true }

[features]
default = ["vendor-protoc"]
instrument = []
vendor-protoc = ["dep:protobuf-src"]
