#
# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[graph]
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-unknown-linux-gnu",
    "aarch64-unknown-linux-musl",
]
all-features = true

[advisories]
ignore = ["RUSTSEC-2024-0384"]

[bans]
deny = [
    { crate = "openssl-sys", use-instead = "rustls" },
    { crate = "openssl", use-instead = "rustls" },
    { crate = "cmake", use-instead = "cc" },
    { crate = "chrono", use-instead = "time", wrappers = [
        "k8s-openapi",
        "kube-client",
        "kube-core",
    ] },
]
multiple-versions = "deny"
skip = [
]
skip-tree = [
    { crate = "regex-automata@0.1", reason = "matchers is using an old version, https://github.com/hawkw/matchers/pull/5, but it's also barely maintained..." },
    # Much like trust-dns this pulls in a ton of outdated dependencies, but it's _slightly_ better
    { crate = "hickory-resolver@0.24.1", reason = "Uses _many_ outdated crates" },
    { crate = "instant@0.1.13", reason = "several crates use this old version" },
    { crate = "tower@0.4.13", reason = "several crates use this old version" },
    { crate = "sync_wrapper@0.1.2", reason = "several crates use this old version" },
    { crate = "bitflags@1.3.2", reason = "several crates use this old version" },
]

[bans.workspace-dependencies]

# This section is considered when running `cargo deny check licenses`
# More documentation for the licenses section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
version = 2
allow = ["Apache-2.0", "MIT", "ISC", "BSD-3-Clause", "Unicode-3.0"]
exceptions = [
    { crate = "adler32", allow = ["Zlib"] },
    { crate = "foldhash", allow = ["Zlib"] },
    # This license should not really be used for code, but here we are
    { crate = "notify", allow = ["CC0-1.0"] },
    { crate = "ring", allow = ["OpenSSL"] },
    { crate = "webpki-roots", allow = ["MPL-2.0"] },
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
