#
# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
[graph]
targets = [
    "x86_64-unknown-linux-gnu",
    "x86_64-unknown-linux-musl",
    "aarch64-unknown-linux-gnu",
    "aarch64-unknown-linux-musl",
]
all-features = true

[advisories]
ignore = []

[bans]
multiple-versions = "deny"
skip = [
    { crate = "bitflags@1.3.2", reason = "multiple crates use this old version" },
    { crate = "syn@1.0", reason = "multiple crates use this old version" },
    { crate = "syn@1.0", reason = "multiple crates use this old version" },
    { crate = "indexmap@1.9", reason = "tower is the sole user of this old version" },
    { crate = "hashbrown@0.12", reason = "used by the old version of indexmap" },
    { crate = "hashbrown@0.13", reason = "used by lasso/libflate" },
    { crate = "idna@0.4", reason = "trust-dns uses an old version" },
    { crate = "socket2@0.4", reason = "tokio-uring is the sole user of this old version" },
]
skip-tree = [
    { crate = "regex-automata@0.1", reason = "matchers is using an old version, https://github.com/hawkw/matchers/pull/5, but it's also barely maintained..." },
]

# This section is considered when running `cargo deny check licenses`
# More documentation for the licenses section can be found here:
# https://embarkstudios.github.io/cargo-deny/checks/licenses/cfg.html
[licenses]
version = 2
allow = ["Apache-2.0", "MIT", "ISC", "BSD-3-Clause"]
exceptions = [
    { crate = "adler32", allow = ["Zlib"] },
    # This license should not really be used for code, but here we are
    { crate = "notify", allow = ["CC0-1.0"] },
    { crate = "ring", allow = ["OpenSSL"] },
    { crate = "unicode-ident", allow = ["Unicode-DFS-2016"] },
    { crate = "webpki-roots", allow = ["MPL-2.0"] },
]

[[licenses.clarify]]
name = "ring"
expression = "MIT AND ISC AND OpenSSL"
license-files = [{ path = "LICENSE", hash = 0xbd0eed23 }]
